<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cake House - Головна</title>
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:replace="~{header :: header}"></header>

<main>
    <section class="hero">
        <img th:src="@{/img/2.png}" alt="Шоколадні бризки" class="splash-left">

        <div class="hero-text">
            <h2 class="subtitle">КОНДИТЕРСЬКА</h2>
            <h1 class="title">
                HOME<br>
                BAKERY
            </h1>
        </div>

        <div class="hero-image">
            <img th:src="@{/img/1.png}" alt="Головний торт" />
        </div>
    </section>

</main>

<footer class="footer">
    <p>&copy; 2026 Cake House. Всі права захищені.</p>
</footer>

</body>
</html>